body {
background-color: #FFF6EA;

}


h1{
  color: #55D8C1;


}
h3{
  color: #55D8C1;


}

hr {
border-style: none;
border-top-style: dotted;
border-color: grey;
border-width: 5px;
width: 5%;



}
