
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  margin: 0;
  font-family: 'Merriweather',serif;
}
a {
color: #11999E;
  font-family: 'Montserrat'sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

h1 {
  margin-top: 0;
  font-size: 5.625rem;

  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: 	#66BFBF;
  font-weight: bold;
}
h2 {
font-family: 'Montserrat', sans-serif;
color: 	#66BFBF;
margin-bottom: 40px;
font-weight: bold;
font-size: 2.5rem;
padding-bottom: 10px;
}
h3{
font-family: 'Montserrat', sans-serif;
color: 	#66BFBF;
margin: auto auto 50px 50px;
font-weight: bold;

}
h4 {
  font-family: 'Montserrat', sans-serif;
  color:	#66BFBF;
  font-weight: bold;
}
p {
  font-family: 'Montserrat'sans-serif;
  margin-top: 10px;
font-weight:500;
font-size: 18px;
}
.contact-massage{
  width: 40%;
  margin: 40px auto 60px;

}
hr {
  width: 4%;
  border-style: dotted;
  border-top: none;
  color: #66BFBF;
border-width: thick;
margin-top: 40px;
margin-bottom: 50px;

}


  .top-container  {

  }

.middle-container {

}
.bottom-container {
    background-color: #66BFBF;
    padding: 50px 20px 20px ;

  }
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}


.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.camera-img{
  width: 25%;
  float: right;
  margin-left: 30px;

}

.mountain{
margin-bottom:  100px;
}
.a-programmer {
  text-decoration: underline;
}
.btn {
  background: #34d9ad;
  background-image: -webkit-linear-gradient(top, #34d9ad, #2b97b8);
  background-image: -moz-linear-gradient(top, #34d9ad, #2b97b8);
  background-image: -ms-linear-gradient(top, #34d9ad, #2b97b8);
  background-image: -o-linear-gradient(top, #34d9ad, #2b97b8);
  background-image: linear-gradient(to bottom, #34d9ad, #2b97b8);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
 font-family: 'Montserrat'sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;

}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
